// import mixin and variables
@import '../../../assets/styles/helper/function',
  '../../../assets/styles/helper/mixin',
  '../../../assets/styles/helper/variables';

.a-button {
  display: inline-block;
  outline: 0;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .25s ease;
  background-color: white;
  font-size: 14px;
  color: black;
  &:hover {
    background-color: grey;
    color: white;
  }
}
